ipykernel==6.29.5
ipywidgets==8.1.5
snakeviz==2.2.2
fastapi==0.115.5
pydantic==2.9.2
pydantic-settings==2.6.1
uvicorn==0.32.0
requests==2.32.3
asyncio==3.4.3
aiohttp==3.11.4
tqdm==4.67.0
dask[dataframe]==2024.11.2
graphviz==0.20.3
pandas==2.2.3
modin==0.32.0
pandarallel==1.6.5
polars==1.14.0
pymorphy3==2.0.2
ray==2.39.0
pyarrow==18.0.0
numba==0.60.0